@charset "UTF-8";
@import "https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;500;600;700&display=swap";
@import "https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;600;700&display=swap";

#root {
  height: 100vh;
}

:root {
  --primary: #1faa88;
  --success: hsl(120, 60%, 30%);
  --danger: hsl(0deg 59.48% 30%);
  --info: hsl(0deg 59.48% 30%);
  --secondary: #fb9f38;
  --light: #f5f8f2;
  --dark: #252c30;
  --white-color: #fff;
  --border-color: whitesmoke;
}

html {
  overflow-x: hidden;
}
body {
  background-color: #f3f3f9 !important;
  font-family: Outfit, sans-serif;
}
a {
  text-decoration: none !important;
}

.p-30 {
  padding: 30px;
}
.br-20 {
  border-radius: 20px;
}
.input-group {
  flex-wrap: nowrap !important;
}
.loader {
  position: relative;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn2-primary {
  background-color: #1faa88;
  min-width: 200px;
  width: max-content;
  color: #fff;
  font-size: 20px;
  padding: auto 30px;
  border-radius: 25px;
}

.App .ic {
  height: 45px;
  border-radius: 25px !important;
  border: 1px solid whitesmoke !important;
  padding: 10px 20px !important;
  width: 100%;
  background-color: whitesmoke;
}

.App .ic-t {
  border-radius: 25px !important;
  border: 1px solid whitesmoke !important;
  padding: 10px 20px !important;
  width: 100%;
  background-color: whitesmoke;
}
.admin-app .ic {
  height: 40px;
  border-radius: 25px !important;
  border: 1px solid whitesmoke !important;
  padding: 0px 20px !important;
  width: 100%;
}

.admin-app .ic-t {
  border-radius: 25px !important;
  border: 1px solid whitesmoke !important;
  padding: 10px 20px !important;
  width: 100%;
  background-color: transparent;
}

.common-btn {
  padding: 5px 15px !important;
  border-radius: 50px !important;
  color: var(--white-color);
  font-size: 16px !important;
  font-weight: 700 !important;
  text-align: center !important;
  min-width: 100px;
}
.App .common-btn:hover {
  scale: 1.05;
}

.App .common-btn-primary {
  background: var(--primary);
  color: var(--white-color);
}
.App .common-btn-primary:hover {
  background: var(--primary);
  color: var(--white-color);
}
.App .common-btn-danger {
  background: var(--danger);
  color: var(--white-color);
}
.App .common-btn-danger:hover {
  background: var(--danger);
  color: var(--white-color);
}
.App .common-btn-success {
  background: var(--success);
  color: var(--white-color);
}
.App .common-btn-success:hover {
  background: var(--success);
  color: var(--white-color);
}

.footer {
  display: flex;
}

.button-container {
  flex: 1;
  margin: 0 5px; 
}

.button-container .common-btn-hover-zoom:hover {
  width: 100%;
  transition: width 0.3s ease;
}
.App .heading {
  font-size: 36px;
  font-weight: 500;
}

.sectionHead .subtitle {
  display: flex;
  align-items: center;
}
.sectionHead .subtitle .line {
  width: 51px;
  height: 2px;
  background: var(--primary);
  display: inline-block;
  margin: 0 19px 0 0;
}
.sectionHead .subtitle .subtitle-text {
  font-size: 40px;
  color: var(--primary);
  font-weight: 400;
  margin-bottom: -6px;
  position: relative;
}
.sectionHead .title {
  font-size: 50px;
  font-weight: 800;
  color: #001064;
}
.absolute-header {
  position: absolute;
  z-index: 2;
}
.absolute-header .navbar-nav .nav-link {
  color: var(--white-color) !important;
}
.sticky-top {
  position: fixed !important;
  top: 0;
  color: var(--dark) !important;
  background-color: #fff;
  transition: 0.5s;
  box-shadow: 0 0 10px 0px lightgray;
  z-index: 1024;
}
.absolute-header:not(.sticky-top) {
  background: linear-gradient(#0000007a, transparent);
}
.absolute-header:not(.sticky-top) svg {
  fill: #fff;
}
.sticky-top .navbar-nav .nav-link {
  color: var(--dark) !important;
}

.navbar .navbar-brand .logo-image {
  height: 50px;
}

.navbar .navbar-nav .nav-link {
  margin-right: 35px;
  padding: 25px 0;
  color: var(--dark);
  font-weight: 600;
  text-transform: uppercase;
  outline: none;
}

.navbar .navbar-nav .nav-link:hover,
.navbar .navbar-nav .nav-link.active {
  color: var(--primary);
}

.App .banner-image {
  width: 100vw;
}

.image-container {
  position: relative;
  display: inline-block;
  overflow: hidden;
}

.banner-image {
  display: block;
  width: 100%;
  height: auto;
}

.image-container::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  pointer-events: none;
}

.footer {
  color: #b0b9ae;
}
.footer svg {
  fill: #fff;
}

.footer .btn.btn-link {
  display: block;
  margin-bottom: 5px;
  padding: 0;
  text-align: left;
  color: #b0b9ae;
  font-weight: normal;
  text-transform: capitalize;
  transition: 0.3s;
}

.footer .btn.btn-link:hover {
  color: var(--light);
  letter-spacing: 1px;
  box-shadow: none;
}

.copyright {
  color: #b0b9ae;
}

.copyright {
  background: #252525;
}

.copyright a:hover {
  color: #ffffff !important;
}

.dealwrapper {
  padding: 20px 10px;
  max-width: 100%;
  background: #ffffff;
  border-radius: 8px;
  -webkit-box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.15);
  position: relative;
  flex: none;
}
.dealwrapper .header {
  text-align: center;
}
.dealwrapper .header .price {
  font-weight: bold;
  font-size: 1.5rem;
}

.dealwrapper .header .mrp {
  font-weight: 400;
  font-size: 1rem;
  margin-right: 10px;
}
.dealwrapper .body {
  text-align: center;
}
.dealwrapper .features {
  text-align: center;
}
.dealwrapper .features-2 {
  text-align: left;
}
.dealwrapper .features-2 ul {
  list-style: none;
  padding: 0;
}
.dealwrapper .features-2 ul li {
  border-bottom: 1px dashed gray;
  padding: 5px 10px;
}
.dealwrapper .features-2 ul li h6 {
  margin-bottom: 0;
}
.dealwrapper .features-2 ul li:hover {
  box-shadow: 0px 0px 10px 0px #b0c0e960;
  background-color: #b0c0e960;
}

.dealwrapper .features-2 ul li span {
  font-size: 10px;
  font-weight: 500;
}
.list-group h4 {
  font-size: 18px;
  margin-top: 6px;
  margin-bottom: 10px;
}
.list-group p {
  font-size: 13px;
  line-height: 1.4;
  margin-bottom: 10px;
  font-style: italic;
}
.list-group-item {
  border: 1px solid rgba(221, 221, 221, 0.25);
}

.ribbon-wrapper {
  width: 88px;
  height: 88px;
  overflow: hidden;
  position: absolute;
  top: -3px;
  right: -3px;
  z-index: 0;
}
.ribbon-tag {
  text-align: center;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  position: relative;
  padding: 6px 0;
  left: -4px;
  top: 15px;
  width: 120px;
  color: #ffffff;
  -webkit-box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3);
  text-shadow: rgba(255, 255, 255, 0.5) 0px 1px 0px;
  background: #343434;
}

.ribbon-tag:before,
.ribbon-tag:after {
  content: "";
  border-top: 3px solid #50504f;
  border-left: 3px solid transparent;
  border-right: 3px solid transparent;
  position: absolute;
  bottom: -3px;
}
.ribbon-tag:before {
  left: 0;
}
.dealwrapper.primary {
  background: rgba(74, 20, 140, 0.2);
}
.ribbon-tag:after {
  right: 0;
}

.dealwrapper.primary .ribbon-tag {
  background: #1faa88;
}

.dealwrapper.primary {
  background: rgba(74, 20, 140, 0.2);
}

.dealwrapper.danger .ribbon-tag {
  background: hsl(0, 60%, 30%);
}

.dealwrapper.danger {
  background: hsl(0, 60%, 30%, 0.2);
}

.dealwrapper.success .ribbon-tag {
  background: hsl(120, 60%, 30%);
}

.dealwrapper.success {
  background: hsl(120, 60%, 30%, 0.2);
}

.dealwrapper.info .ribbon-tag {
  background: hsl(260.27deg 66.6% 58.04%);
}

.dealwrapper.info {
  background: hsl(260.27deg 66.6% 58.04%, 0.2);
}
.dealwrapper .footer {
  margin-top: 20px;
  text-align: center;
}

.app-container {
  padding: "40px 60px 60px 40px";
}

.accordion {
  width: 100%;
  margin: auto;
}
.accordion-item {
  background-color: #fff;
  color: #111;
  margin: 1rem 0;
  border-radius: 0.5rem;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.25);
}
.accordion-item-header {
  padding: 0.5rem 3rem 0.5rem 1rem;
  min-height: 3.5rem;
  line-height: 1.25rem;
  font-weight: bold;
  display: flex;
  align-items: center;
  position: relative;
  cursor: pointer;
}
.accordion-item-header::after {
  content: "\002B";
  font-size: 2rem;
  position: absolute;
  right: 1rem;
}
.accordion-item-header.active::after {
  content: "\2212";
}
.accordion-item-body {
  max-height: 0;
  overflow: hidden;
  transition: max-height 1s ease-in-out;
}

.accordion-item-body-content {
  padding: 1rem;
  line-height: 1.5rem;
  border-top: 1px solid;
  border-image: linear-gradient(to right, transparent, #34495e, transparent) 1;
}

@media (max-width: 767px) {
  html {
    font-size: 14px;
  }
}

.bgi-1 {
  background: #f3f3f9;
}

.whatsapp-icon-container {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  z-index: 1;
}

.whatsapp-icon-container .whatsapp-icon-btn {
  box-shadow: 0px 0px 20px -6px lightgray;
  background-color: #0dc152;
}
.whatsapp-icon-container .whatsapp-icon-btn:hover {
  background-color: #0dc152;
  color: #fff;
}

.heading-2 {
  font-size: 24px;
  color: #000;
  line-height: 18px;
  font-weight: bold;
}

.test-counts {
  text-align: center;
  background: #b0c0e960;
  border-radius: 25px;
}
.test-counts:hover {
  box-shadow: 0px 0px 10px 0px var(--primary);
}

.test-counts .test-number {
  font-size: 30px;
  font-weight: 600;
}

.our-commit {
  background-color: #fff;
  border-radius: 12px;
  margin-bottom: 20px;
  padding: 20px;
  text-align: left;
  transition: border-width 0.3s, box-shadow 0.3s;
}
.our-commit-img {
  width: 100%;
  height: 200px;
  filter: hue-rotate(297deg);
}

.our-commit:hover {
  border-width: 3px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.our-commit i {
  font-size: 40px;
  color: #3498db;
  margin-bottom: 10px;
}

.our-commit h2 {
  font-size: 24px;
  color: #333;
  margin: 0;
}

.our-commit p {
  font-size: 16px;
  color: #666;
  margin-top: 10px;
}

.search-form {
  position: relative;
  margin: auto;
  background-color: #fff;
  margin-top: -7vh;
  z-index: 1;
  padding: 20px;
  border-radius: 50px;
  box-shadow: 0px 19px 18px -14px lightgray;
}
.search-form .form-select {
  flex: none !important;
  width: 25% !important;
  border-radius: 25px 0px 0px 25px !important;
  border-color: whitesmoke !important;
}

.search-form .uploadBtn {
  display: flex;
  align-items: center;
  column-gap: 15px;
  width: auto;
  height: 48px;
  padding: 8px 18px;
  border: 1px solid #d9d9d9;
  border-radius: 15px;
  cursor: pointer;
  position: relative;
}
.search-form .uploadBtn .text {
  color: #757575;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 14px;
}

.no-focus-outline:focus {
  outline: none;
  box-shadow: none;
  border-color: var(--primary);
}
.no-focus-outline:hover {
  outline: none;
  box-shadow: none;
  border-color: var(--primary);
}
.location-container {
  position: relative;
  display: flex;
  align-items: center;
  z-index: 0;
}
.location-container svg {
  fill: var(--primary);
}
.search-btn {
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  color: #fff;
  background-color: var(--primary);
  width: -webkit-fill-available;
  border-radius: 25px;
  padding: 0px 15px;
}
.search-btn svg {
  fill: #fff;
}

.search-btn span {
  font-weight: 500;
  margin: 0;
  color: #fff;
}

.select-icon {
  position: absolute;
  right: 10px;
  font-size: 16px;
  color: #666;
  margin: 0;
}

.Toastify__close-button {
  width: auto;
}

.location-input {
  background: #fff;
  border-radius: 25px;
}

.bg-gray-light {
  background-color: #f3f3f9;
}

.css-11mde6h-MuiPaper-root {
  background-color: rgb(255 255 255 / 1) !important;
  border-radius: 0.375rem !important;
  margin-bottom: 25px !important;
  border-color: rgb(226 232 240 / 1) !important;
  border-style: solid !important;
  border-width: 1px !important;
  box-shadow: 0 0 #0000, 0 1px 2px 0 rgba(0, 0, 0, 0.05) !important;
  margin-bottom: 25px !important;
}
.tss-9562fz-MUIDataTableViewCol-root {
  padding: 16px 24px 16px 24px !important;
  font-family: inherit !important;
}

.custom-font-size {
  font-size: 9px !important;
}

.confirmation-container {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  display: block;
  height: 100vh;
  width: 100vw;
  backdrop-filter: blur(4px);
  background-color: rgb(0 0 0/0.1);
}

.dialog-body {
  width: 100%;
  display: flex;
  justify-content: center;
  height: 100%;
  align-items: center;
}
.confirmation-dialog {
  padding: 20px;
  background-color: white;
  border: 1px solid whitesmoke;
  border-radius: 10px;
}
.autocomplete-search {
  position: relative;
}
.autocomplete-search .autocomplete-loader {
  position: absolute;
  right: 12px;
  color: lightgray;
  top: 18px;
  display: flex;
  align-items: center;
}
.autocomplete-search ul {
  margin: 0;
  list-style: none;
  padding: 0px;
  border: 1px solid whitesmoke;
  box-shadow: 0px 0px 10px 0px whitesmoke;
  width: 100%;
  position: absolute;
  max-height: 200px;
  overflow-y: scroll;
  background-color: #fff;
}

.autocomplete-search ul li {
  display: block;
  padding: 5px 10px;
  border-bottom: 1px solid whitesmoke;
  cursor: pointer;
  width: 100%;
  background: #fff;
}
.autocomplete-search ul li a {
  color: #000;
  font-size: 15px;
  font-weight: 500;
}

.autocomplete-search ul li:hover {
  background-color: whitesmoke;
}

.autocomplete-search ul li small {
  font-size: 10px;
}

.testDetails .productDetails {
  box-shadow: 0px 16px 28px 0px #24242414;
  padding: 38px 40px;
  border-radius: 14px;
}
.mobileSideBar {
  display: none !important ;
}

@media (max-width: 575px) {
  .search-btn span {
    display: block !important;
  }
}

@media (min-width: 768px) and (max-width: 990px) {
  .col-xs-0 {
    display: none;
  }
  .search-btn span {
    display: none;
  }
}

@media (max-width: 768px) {
  .col-xs-0 {
    display: none;
  }
  .search-btn span {
    display: none;
  }
  .testDetails .productDetails {
    padding: 23px;
  }
}

.App .query-container {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  backdrop-filter: blur(2px);
  background-color: rgba(000, 0, 0, 0.5);
  z-index: 1020;
  padding: 20px;
}
.App .query-container .query-background {
  background-color: #eff4ff;
  padding: 20px;
  width: 100%;
  height: 100%;
  box-shadow: 0px 16px 28px 0px #24242414;
  border-radius: 10px;
  position: relative;
}

.App .query-container .query-background .closeBtn {
  position: absolute;
  top: -10px;
  right: -10px;
  border: 1px solid;
  padding: 10px;
  border-radius: 50%;
  height: 30px;
  display: flex;
  width: 30px;
  justify-content: center;
  align-items: center;
}

.auth-section {
  height: 100%;
  width: 100%;
  padding: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #d7fbe8;
  position: relative;
  overflow: hidden;
}
.auth-section .login-section {
  background-color: #ffffff;
  height: auto;
  border-radius: 10px;
  padding: 30px;
  backdrop-filter: blur(12px);
  position: relative;
  z-index: 1;
}
.auth-section::before {
  content: "";
  width: 400px;
  height: 400px;
  -moz-border-radius: 50%;
  border-radius: 50%;
  background-color: #1faa88;
  position: absolute;
  z-index: 0;
  top: -110px;
  left: -110px;
  animation: bounce 5s infinite;
}

.auth-section::after {
  content: "";
  width: 400px;
  height: 400px;
  -moz-border-radius: 50%;
  border-radius: 50%;
  background-color: #1faa88;
  position: absolute;
  z-index: 0;
  bottom: -110px;
  right: -110px;
  animation: bounce 5s infinite;
  overflow: hidden;
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-10px);
  }
}

.carousel-image {
  max-width: 100% !important;
  max-height: 100% !important;
  object-fit: cover !important;
}

.carousel .control-dots .dot {
  background-color: #0ea27e !important;
  box-shadow: none !important;
}

.carousel .control-dots .selected {
  width: 15px !important;
  border-radius: 25px !important;
}
.slider-wrapper {
  border-radius: 10px;
}

.slider-section {
  height: 60vh;
  border-radius: 10px;
  overflow: hidden;
}
.carousel-root {
  height: 100% !important;
}
.carousel-slider {
  height: 100% !important;
}

.App .about-card {
  background-color: hsl(120, 60%, 30%, 0.2);
  padding: 30px;
  border-radius: 20px;
}

.App .about-card .about-img {
  width: 100%;
}

.App .about-card .about-text {
  text-align: justify;
}
.App .team .team-image {
  border-radius: 20px;
  width: -webkit-fill-available;
}

.carousel .slide img {
  width: 100%;
  vertical-align: top;
  border: 0;
  height: 70vh;
}

.contact img {
  filter: hue-rotate(297deg);
}
.home-banner {
  display: block;
}

.frequent-img {
  height: 61px;
  width: 61px;
}

.frequent-container {
  width: 100%;
  overflow: auto;
  display: flex;
  justify-content: flex-start;
  row-gap: 30px;
  column-gap: 20px;
}

.scrollable-container {
  width: 100%;
  overflow: auto;
  display: flex;
  justify-content: flex-start;
  row-gap: 30px;
  column-gap: 37px;
  background-color: #fff;
}

.scrollable-container .scrollable-card {
  cursor: pointer;
  padding: 10px 20px 10px 10px;
  gap: 20px;
  flex-direction: row;
  width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  white-space: break-spaces;
  flex-shrink: 0;
  background-color: white;
}
.scrollable-container::-webkit-scrollbar {
  display: none;
}
.frequent-container::-webkit-scrollbar {
  display: none;
}

.frequent-container .frequent-card {
  cursor: pointer;
  padding: 10px 20px 10px 10px;
  gap: 20px;
  flex-direction: row;
  width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  white-space: break-spaces;
  flex-shrink: 0;
  background-color: white;
}
.frequent-container .frequent-card .frequent-icon {
  width: 61px;
  height: 61px;
  place-self: center;
  padding: 14px 14px 15px 15px;

  background: rgba(31, 122, 31, 0.2);
  border-radius: 50%;
}
.frequent-container .frequent-card .frequent-icon img {
  color: transparent;
  height: 100%;
  width: 100%;
}
.frequent-container .frequent-card p {
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  margin-bottom: 0;
}

.title {
  font-weight: 600;
  font-size: 24px;
  line-height: 30px;
  margin-left: 0;
  color: #0e3f6c;
  margin-bottom: 30px;
}
.social-icons {
  height: 44px;
  width: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.whatsapp-icon {
  display: none !important;
}

.address p {
  color: #78909c;
  margin: 0;
}

.box {
  max-width: 300px;
  width: 100%;
  padding: 0 15px;
}

.flex1 {
  flex: 1;
}
.flex2 {
  flex: 2;
}
.skeleton .line:last-child {
  margin-bottom: 0;
}
.h8 {
  height: 8px !important;
}
.h10 {
  height: 10px !important;
}
.h12 {
  height: 12px !important;
}
.h15 {
  height: 15px !important;
}
.h17 {
  height: 17px !important;
}
.h20 {
  height: 20px !important;
}
.h25 {
  height: 25px !important;
}
.w25 {
  width: 25% !important;
}
.w40 {
  width: 40% !important;
}
.w50 {
  width: 50% !important;
}
.w75 {
  width: 75% !important;
}
.m10 {
  margin-bottom: 10px !important;
}
.circle {
  border-radius: 50% !important;
  height: 80px !important;
  width: 80px;
}
@keyframes wave-lines {
  0% {
    background-position: -468px 0;
  }
  100% {
    background-position: 468px 0;
  }
}
@keyframes wave-squares {
  0% {
    background-position: -468px 0;
  }
  100% {
    background-position: 468px 0;
  }
}

.rounded-20 {
  border-radius: 20px;
}

.search-result-container {
  margin-bottom: 20px;
}
.search-result-container .card-heading-text {
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  color: #e00646;
}

.search-result-container .card-head-price {
  display: flex;
  flex-direction: column;
}
.search-result-container .card-head-price .card-head-price-offerprice {
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  text-align: right;
  color: #2f3032;
}
.search-result-container .card-head-price .card-head-price-mainprice {
  font-weight: 400;
  font-size: 12px;
  line-height: 1;
  text-align: right;
  -webkit-text-decoration-line: line-through;
  text-decoration-line: line-through;
  color: #c7c7c7;
}
.search-result-container .card-head-price .card-body-description {
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  color: #2f3032;
  width: 85%;
}
.search-result-container .card-body-description {
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  width: 85%;
  color: rgb(47, 48, 50);
}

.search-result-container .card-foot {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.search-result-container .card-foot-left {
  display: flex;
  column-gap: 8px;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  color: #9d9fa1;
}
.search-result .card-foot-button {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  column-gap: 6px;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  background: linear-gradient(225.9deg, #0e3f6c, #235b8e 101.63%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.microPhoneLoader {
  background-color: red;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 991.98px) {

  .whatsapp-icon {
    display: inline-block !important;
  }
  .title {
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #0e3f6c;
    margin-bottom: 20px;
  }

  .navbar .navbar-nav .nav-link {
    margin-right: 0;
    padding: 10px 0;
  }

  .navbar .navbar-nav {
    margin-top: 75px;
    border-top: 1px solid #eeeeee;
  }
  .slider-section {
    height: 30vh;
  }

  .carousel .slide {
    height: 30vh !important;
  }
  .carousel .slide img {
    height: 30vh;
  }

  .home-banner {
    display: none;
  }
  .home-image {
    display: none;
  }
  .search-form {
    margin-top: 20px;
    border-radius: 10px;
  }
  .absolute-header {
    position: relative;
    background-color: #fff;
  }

  .sticky-top {
    position: fixed !important;
  }

  #navbarCollapse.show {
    width: 85%;
    height: 100%;
    display: block !important;
    position: fixed !important;
    z-index: 1 !important;
    background: white !important;
    top: 50px !important;
    left: 0 !important;
    padding: 0px 10px 10px 10px;
  }
  .navLinkMobile {
    display: flex !important;
    flex-direction: inherit !important;
    justify-content: space-around !important;
    margin-top: 0 !important;
  }
  .mobileSideBar {
    display: flex !important;
    flex-direction: column !important;
    justify-content: space-around !important;
    margin-top: 0 !important;
  }
  .absolute-header .navbar-nav .nav-link {
    color: #000 !important;
  }
  .logo-image {
    height: 30px !important;
  }

  .sectionHead .subtitle .subtitle-text {
    font-size: 25px;
  }
  .line {
    display: none;
  }
  .frequent-container .frequent-card {
    flex-direction: column;
    height: 100px;
    width: 100px;
  }
  .frequent-container .frequent-card .frequent-icon {
    width: 39px;
    height: 39px;
    padding: 7px 8px 8px 7px;
    background: rgba(31, 122, 31, 0.2);
    border-radius: 50%;
  }
  .frequent-container .frequent-card p {
    text-align: center;
    color: #1d1617;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    display: grid;
    place-items: center;
  }

  .absolute-header:not(.sticky-top) {
    background: #fff;
  }
  .absolute-header:not(.sticky-top) svg {
    fill: #000;
  }
}

@media (min-width: 992px) {
  .navbar .nav-item .dropdown-menu {
    display: block;
    border: none;
    margin-top: 0;
    top: 150%;
    opacity: 0;
    visibility: hidden;
    transition: 0.5s;
  }

  .navbar .nav-item:hover .dropdown-menu {
    top: 100%;
    visibility: visible;
    transition: 0.5s;
    opacity: 1;
  }
}
